*{
   color: rgb(102, 102, 4);
}
body{
   background: #0075d479;
}

[href]{
   color: #00FFFF;
   font-size: 25px;

}

.header,.footer {
   background: #2F4F4F;
   border: 1px solid #000;

}
.ul li{
   display: inline;
   padding: 5px;
   margin-right: 15px;
   border-radius: 5px;
   border: 1px solid #fffafa;
   background: #4d1010;
}
.ul{
   text-align: right;
}
.sadtitle{
   letter-spacing: 9px;
   font-size: 60px;
   text-align: center;
   color: #FFFFF0;
}

.main {
   border: 1px solid #000;
background: #000;
}
.main__block p {
   color: #ffffff;
   font-size: 25px;
}

.img img {
   max-width: 100%;
   text-align: center;

}
.main__ul,.main__ol{
   border-radius: 10px ;
   border: 3px solid #db0606;

}

.footer__text p {
   text-align: center;
   font-size: 25px;
   color: #fffdfd;
}
.footer__ul li{
   color: #00FFFF;
}